[run]
source = .
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */admin.py
    */apps.py
    manage.py
    payshift_workflow/wsgi.py
    payshift_workflow/asgi.py
    frontend/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError